
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 10000vh;
}

div {
    /* background-color: hotpink; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hotpink;
}